{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <p><a href="https://iextrading.com/trading/eligible-symbols/">Click here</a> for a list of eligible symbols provided by IEX.</p>
    <p>Some examples: AAPL for Apple, NFLX for Netflix, TSLA for Tesla</p>
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}