{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <p><a href="https://iextrading.com/trading/eligible-symbols/">Click here</a> for a list of eligible symbols provided by IEX.</p>
    <p>Some examples: AAPL for Apple, NFLX for Netflix, TSLA for Tesla</p>
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
{% endblock %}